{% extends "base.html" %}
{% load static %}
{% block hero_inner_class %}hero-inner-home{% endblock %}
{% block page_header %}

<section class="hero-section">
    <div class="hero-boxed">
        <div class="hero-content">
            <h1 class="hero-font text-white mb-0">
                <span class="endurance-line">Optimised</span>
                <span class="optimised-line">Endurance</span>
            </h1>

            <div class="mt-4">
                <a href="{{ products_url }}" class="hero-btn btn btn-lg rounded-0 text-uppercase py-3">
                    Shop The Lab
                </a>
                <p class="lead mt-3 text-white tag-text mb-0">Lab tested fuel for the long haul</p>
            </div>
        </div>
    </div>
</section>


<!--Category Divider-->

<div class="container marketing">
    <h2 class="text-uppercase text-center text-dark mt-3 home-page-headings">Products By Category</h2>
    <section class="row justify-content-md-center">
        <div class="col-lg-4 col-md-6 text-center mb-5">
            <div class="rounded-circle bg-dark d-flex align-items-center justify-content-center mx-auto" style="width: 140px; height: 140px;">
                <i class="fa-solid fa-battery-quarter fa-4x text-success"></i>
            </div>
            <h2 class="fw-normal mt-3 h4">Energy</h2>
            <div class="category-text-container mx-auto" style="max-width: 250px;">
            <p class="text-dark mb-0"><strong>Sustained Release</strong></p>
            <p class="text-muted small">(No sugar spikes or crashes)</p>
        </div>
            <p><a class="btn btn-custom mt-3" href="{{ products_url }}?category=energy,energy_gels,energy_powder,energy_bars,energy_drinks">View details</a></p>
        </div>
        <div class="col-lg-4 col-md-6 text-center mb-5">
            <div class="rounded-circle bg-dark d-flex align-items-center justify-content-center mx-auto" style="width: 140px; height: 140px;">
                <i class="fa-solid fa-droplet fa-4x text-primary"></i>
            </div>

            <h2 class="fw-normal mt-3 h4">Hydration</h2>
            <div class="category-text-container mx-auto" style="max-width: 250px;">
            <p class="text-dark mb-0"><strong>Precision Electrolytes</strong></p>
            <p class="text-muted small text-nowrap">(Targeted sodium/potassium ratios)</p>
        </div>
            <p><a class="btn btn-custom mt-3" href="{{ products_url }}?category=hydration,electrolyte_powders,hydration_tabs,bottles">View details</a></p>
        </div>
        <div class="col-lg-4 col-md-6 text-center mb-5">
            <div class="rounded-circle bg-dark d-flex align-items-center justify-content-center mx-auto" style="width: 140px; height: 140px;">
                <i class="fa-solid fa-heart-pulse fa-4x text-danger"></i>
            </div>

            <h2 class="fw-normal mt-3 h4">Recovery</h2>
            <div class="category-text-container mx-auto" style="max-width: 250px;">
            <p class="text-dark mb-0"><strong>Total Synthesis</strong>
            <p class="text-muted small">(Full-spectrum muscle repair)</p>
        </div>
            <p><a class="btn btn-custom mt-3" href="{{ products_url }}?category=recovery,shakers,recovery_powder">View details</a></p>
        </div>
    </section>
</div>
{% endblock page_header %}

{% block content %}

<!--Top rated products-->

{% if top_rated_products %}
<section class="latest-banner">
    <div class="latest-banner__overlay"></div>
    <div class="container latest-banner__content">
        <div class="row align-items-center">

            <div class="col-12 col-lg-5 mb-4 mb-lg-0">
                <h2 class="text-white text-uppercase mb-3 display-4 home-page-headings">Athlete Optimised</h2>
                <p class="text-white mb-4">
                    The Lab’s definitive gear and fuel and are our community’s highest-rated!
                    Athlete-endorsed products—vetted for ultimate performance and absorbtion, these products are optimised for you. When the going gets tough get stuck into the grind with The Endurance Lab.
                </p> <a href="{% url 'top_rated' %}" class="btn hero-btn btn-lg rounded-0 text-uppercase py-3">
                    Shop All
                </a>
            </div>

            <div class="col-12 col-lg-7">
                <div class="row">
                    {% for product in top_rated_products %}
                    <div class="col-12 col-md-4 mb-3">
                        <div class="card h-100 latest-banner__card border-0 position-relative">
                            {% if product.is_special_offer %}
                            <img src="{% static 'images/ribbon-image.png' %}" class="sale-ribbon" alt="Sale">
                            {% endif %}
                            <a href="{% url 'product_detail' product.id %}" class="d-block">
                                <img src="{{ product.display_image_url }}" class="card-img-top" alt="{{ product.name }}">
                            </a>
                            <div class="card-body text-center">
                                <p class="mb-2 font-weight-bold">{{ product.name }}</p>
                                <p class="text-warning mb-1">
                                    <i class="fas fa-star"></i> {{ product.rating }} / 5
                                </p>
                                <p class="font-weight-bold mb-3 {% if product.is_special_offer %}text-danger{% endif %}">£{{ product.price }}</p>
                                <a href="{% url 'product_detail' product.id %}" class="btn btn-custom btn-sm btn-block top-rated-btn">
                                    View Product
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
</section>
{% endif %}

<!--Newsletter Sign Up-->

<section id="newsletter" class="text-white py-5 my-5">
    <div class="container-fluid mb-3">
        <div class="row justify-content-center text-center">
            <div class="col-12 col-md-8 col-lg-6">
                <h2 class="mb-3">Sign up to Our Newsletter</h2>
                <p class="mb-4">
                    Get all the latest product updates and offers straight to your inbox.
                </p>
                <form action="{{ home_url }}" method="POST" class="d-flex flex-column flex-sm-row justify-content-center">
                    {% csrf_token %}
                    <input type="email" name="email" id="id_email" autocomplete="email" class="w-50" placeholder="Enter your email address" required>
                    <button type="submit" class="btn btn-custom-newsletter mt-2 mt-sm-0 ml-sm-2">
                        Subscribe
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
