html {
    height: 100%;
}

html, body  {
    background: transparent !important;
    background-color: transparent !important;
    border: none !important;
}

:root {
    --hero-url: url('/media/hero-fell-running.jpg');
    --primary-font: 'Bebas Neue', impact, sans-serif;
    --secondary-font: 'Manrope', sans-serif;
    --primary-color: #000000;
    --secondary-color: #ffffff;
    --highlight-color: #f60404;
}

body {
    font-family: var(--secondary-font);
}

body .header-container {
    background-color: transparent !important;
    background: none !important;
}

#top-nav  {
    background-color: rgba(0, 0, 0, 0.3);
    min-height: 100px;
    display: flex;
    align-items: center;
}

.bg-opaque {
    background-color: rgba(0, 0, 0, 0.3) !important;
}

.main-nav-container {
    background-color: var(--primary-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1020;
}

.navbar-toggler {
    border-color: var(--secondary-color)!important;
}

.btn-custom  {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 0.5px solid var(--primary-color);
    font-family: var(--primary-font);
    transition: all 0.3s ease;
}

/* Hover State */
.btn-custom:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: 1.0px solid var(--secondary-color);
}

/* The "Halo" / Focus State */
.btn-custom:focus,
.btn:focus {
    box-shadow: 0 0 0 0.25rem var(--secondary-color) !important;
}

/* Active / Click State */
.btn-custom:active {
    background-color: var(--primary-color) !important;
    transform: scale(0.98);
}

.btn-black {
    background: black;
    color: white;
}

.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

/* Hero Section */

.hero  {
/* Positioning & Scaling */
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), var(--hero-url);
    background-position: center;
    padding-top: 5rem;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 100px);
}

.hero-font {
    font-family: var(--primary-font);
    text-transform: uppercase;
    padding-left: 0 !important;
    margin-top: 20px;
    display: block;
    text-align: left;
}

.hero-btn  {
    background-color: transparent;
    color: var(--secondary-color);
    border: 0.5px solid var(--secondary-color);
    font-family: var(--primary-font);
    transition: all 0.3s ease;
    min-width: 260px;
    font-size: 1.50rem;
    letter-spacing: 0.05em;
    margin-bottom: -0.5rem;
}

/* Hero Button Hover State */
.hero-btn:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: 0.5px solid var(--secondary-color);
}

.lead  {
    white-space: nowrap;
}
.endurance-line {
    display: block;
    font-size: clamp(6.5rem, 12vw, 8rem);
    font-weight: 900;
    line-height: 0.85;
}

.optimised-line {
    display: block;
    font-size: clamp(5.7rem, 10.5vw, 7rem);
    font-weight: 400;
    line-height: 0.85;
    margin-top: -0.0em;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.icon-mag-glass {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.icon-mag-glass:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.logo {
    max-width: 200px;
    margin: 0 50px 7px 0;

}

.main-logo-link {
    width: fit-content;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* Navigation */
@media (min-width: 992px) {
    .hero-font {
        margin-top: 75px;
    }
}

@media (min-width: 992px) {
    .main-nav-container {
        background-color: rgba(0, 0, 0, 0.3)
    }
}

@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
}
