{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <h1>Error 405: Method Not Allowed</h1>
            <p>The HTTP method you have tried is not permitted here, please contact your system administrator if this is unexpected.</p>
            <div>
                <a href="{{ home_url }}" class="btn btn-custom">
                    Home Page
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
