{% extends "base.html" %}
{% block content %}
<div class="container py-5 delete-product">
    <h2 class="mb-3">Delete product</h2>
    <p>
        Are you sure you want to delete <strong>{{ product.name }}</strong>?
        This action cannot be undone.
    </p>

    <form method="POST">
        {% csrf_token %}
        <a href="{% url 'product_detail' product.id %}" class="badge allauth-info-btn">
            Cancel
        </a>
        <button type="submit" class="badge allauth-danger-btn">
            Yes, delete
        </button>
    </form>
</div>
{% endblock %}
